/* body{
   
    background-image: url("https://jooinn.com/images/italian-food-background-1.jpg");
} */
.form-label{
    font-family: "Slabo 27px", serif;
}
.text-center{
    font-family: "Acme", sans-serif;
}