.img1{
    background-image: url("https://www.wallsticker.com.my/image/wallsticker/image/data/all_product_images/product-1779/345.JPG");
    width: "100rem",
}
.img2{
    background-image: url("https://wallpapercave.com/wp/wp7833537.jpg");
}
.img3{
    background-image: url("https://images.pexels.com/photos/2923034/pexels-photo-2923034.jpeg?cs=srgb&dl=interior-design-of-an-empty-restaurant-2923034.jpg&fm=jpg");
}